.checkpw{
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top:10px;
}

.check{
  padding: 10px;
  margin: auto;
  font-size:25px;
}

#yes{
   color:white;
}
#pass-c{
  height:30px;
  margin-right:5px;
}

#pass-c {
  width: 40%;
  height: 28px;
	border-radius : 5px;
  border : 2px solid gray;
  padding-left:5px;
}

.check_btn{
  height: 28px;
  border :1px solid gray;
  padding:2px;
  border-radius:5px;
  background-color:rgb(194, 189, 189);
  color:white;
}



