.check{
  padding: 10px;
  margin: auto;
  font-size:25px;
  padding-top:60px;
  margin-left:50px;
  text-align: left;
  margin-bottom: 120px;
  border-bottom: 3px solid #47cba3;
  width:200px;
}

#yes{
  color:black;
  border:3px solid #47cba3;
  background-color: white;
  padding:7px 12px 7px 12px;
  border-radius: 20px;
}
#pass-c{
  height:30px;
  margin-right:5px;
  background-color: white;
  margin-left:28%;
  width: 40%;
  height: 28px;
	border-radius : 5px;
  border : 2px solid gray;
  padding-left:5px;
}

.check_btn{
  margin-top: 100px;
}

.checkpw {
  display: flex;
}

