.center_body{
  margin-top:20px;}
.checkpw{
  display: flex;
  justify-content:center;
  align-items: center;
  padding-top:10px;
}

.check{
  margin-right:10px;
  font-size:20px;
   padding-top:90px;
  margin-left:20%;
}
#yes{
   color:white;
}
#pass-c{
  height:30px;
  margin-right:5px;
}

.checkpw .input[type=password] {
  width: 40%;
  height: 28px;
	border-radius : 5px;
   border : 2px solid gray;
  padding-left:5px;
}

.check_btn{
  height: 28px;
  border :1px solid gray;
  padding:2px;
  border-radius:5px;
  background-color:rgb(194, 189, 189);
  color:white;
}



