.center_body_fip{
  height:1000px;
  margin: auto;
  width: 60%;
  background-color: white;
  height:800px;
  padding-top:30px;
  margin-bottom:10px;
}

.title_fip{
  padding-top:60px;
  margin-left:50px;
  text-align: left;
  margin-bottom: 120px;
  border-bottom: 3px solid skyblue;
  width:300px;
  padding:10px;
  font-size:25px; 
}

.findbtn{
  margin-top:40px;
  display: flex;
  justify-content:center;
  align-items: center;
}

#gofindid,#gofindpw{
  border:3px solid gray;
  border-radius:20px;
  padding:10px;
  width:140px;
  font-size:15px;
  background-color:beige;
  display: flex;
  justify-content:center;
  align-items: center;
  color:black;
  margin-right:50px;
}