.center_body_fip{
  height:1000px;
  margin: auto;
  width: 60%;
  background-color: white;
  height:800px;
  padding-top:30px;
  margin-bottom:10px;
}
.title_fip{
  margin: auto;
  font-size:25px;
  padding: 50px;
}

.findbtn{
margin-top:40px;
  display: flex;
    justify-content:center;
    align-items: center;
}

#gofindid,#gofindpw{
  border:3px solid gray;
  border-radius:20px;
  padding:10px;
  width:140px;
  font-size:15px;
  background-color:beige;
   display: flex;
  justify-content:center;
  align-items: center;
   color:black;
   margin-right:20px;
}

