.crew_body4 {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
  background-color: white;
   border: 3px solid white;
   margin-top:20px;
}

.makecrewform {
    margin: 0;
    width: 100%;
}

.makecrew {
  display: flex;
  margin: auto;
 
  padding: 10px;
}
.make-crew{
  font-size:25px;
  padding-top:25px;
  padding-bottom:20px;
}

#donebtn {
padding: 5px;
background: none;
font-size: 15px;
border-radius: 5px;
background-color:aliceblue;
border:2px solid darkgray;
}

#donebtn :hover{
  border:2px solid darkgray;
}
table {
	border-collapse: collapse;
}
td, th {
	text-align : left;
	padding: 10px;
	height: 20px;
	width: 200px;
}

input[type=text] {
	border : 2px solid skyblue;
	border-radius : 5px;
}

input[type=text]:hover {
	background : aliceblue;
	border : 2px solid skyblue;
	border-radius : 5px;
}

a {
  color: black;
  font-style: none;
}