
.mypage {
    background-color: white;
    margin: auto;
    width: 60%;
  }

  .title-m {
    color: black;
    margin: 10px;
  }
  
  .headline {
    display: flex;
    position: relative;
    align-items: center;
    padding: 20px;
    margin: 20px;
    width: 100%;
  }
  
  .headline h1 {
    border-bottom: 5px solid var(--nav-color);
  }
  
  .headline i {
    margin: 20px;
    font-size:35px;
  
  }
  #message{
    color:gray;
  }
  
  #message:hover{
    color:black;
  }
  
  #idfix{
    border: 2px solid #7fffd4;
    padding:10px;
    border-radius:10px;
    color:black;
  }
  
  #idfix:hover{
    border: 2px solid #47cba3;
    color:white;
    background-color: #47cba3;
  }
  .box-slide{
    display:flex;
    margin-bottom:15px;
  }
  .boxx{
    box-shadow: 3px 3px 3px 3px #aaaaaa;
    padding:8px;
    padding-top:0px;
    border-radius:10px;
    margin:10px;
    width: 220px;
    height: 150px;
    flex-direction: column;
    display: flex;
    align-items: stretch;
    box-sizing: border-box;
  }
  
  #show,#show2,#show3,#show4{
    margin-top:10px;
    color:rgb(71, 71, 71);
  }
  #hide,#hide2,#hide3,#hide4{
    margin-top:10px;
     color:rgb(71, 71, 71);
  }
  .subtitle{
    margin-bottom:10px;
    text-align: left;
  }
  #crewtitle{
    font-size:18px;
    margin-top:10px;
    margin-bottom:0px;
  }
  #date-time{
    font-size:12px;
    margin-bottom:2px;
   margin-top:8px;
  }
  #place{
    font-size:12px;
    margin-top:2px; 
    margin-bottom:6px;
  }
  
  #deletebtn,#reviewbtn,#setting,#detaillbtn{
    outline: 1px;
    font-size:12px;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    background-color:#ffff8b;
    color:black;
    align-items: center;
    display: flex;
    justify-content: center;
  height:40px;
    width: 100%;
  }
  
  #deletebtn:hover{
    background-color: #c9bc1f;
  }
  
  #reviewbtn:hover{
    background-color: #c9bc1f;
  }
  
  #setting:hover{
    background-color: #c9bc1f;
  }
  
  #detaillbtn:hover{
    background-color: #c9bc1f;
  }
  
  .far fa-comments {
    size: 5x;
  }
  
  .idfix{
    position: absolute;
    right: 0;
    margin: 40px
  }
  
  .preview {
    padding: 18px 32px;
  }
  
  hr {
    margin: 10px
  }
  
  
  #submit{ 
           width: 127px; 
           height: 48px; 
           text-align: center; 
           border: none; 
           margin-top: 20px; 
           cursor: pointer; 
       } 
       #submit:hover{ 
           color: #fff; 
           background-color: #216282; 
           opacity: 0.9; 
       } 
       #cancel { 
           width: 127px; height: 48px; 
           text-align: center; 
           border: none; 
           margin-top: 20px; 
           cursor: pointer; 
       } 
       #cancel:hover{ 
           color: #fff; 
           background-color: #216282; 
           opacity: 0.9; 
       }
      .modal { 
           position: fixed; 
           left: 0; 
           top: 0; 
           width: 100%; 
           height: 100%; 
           background-color: rgba(0, 0, 0, 0.5); 
           opacity: 0; 
           visibility: hidden; 
           transform: scale(1.1); 
           transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
       } 
       .modal-content { 
           position: absolute; 
           top: 50%; 
           left: 50%; 
           transform: translate(-50%, -50%); 
           background-color: white; 
           padding: 1rem 1.5rem; 
           width: 500px; 
           height: 350px; 
           border-radius: 0.5rem; 
       } 
       .close-button { 
           float: right; 
           width: 1.5rem; 
           line-height: 1.5rem; 
           text-align: center; 
           cursor: pointer; 
           border-radius: 0.25rem; 
           background-color: lightgray;
       } 
       .close-button:hover { 
           background-color: darkgray; 
       } 
       .show-modal { 
           opacity: 1; 
           visibility: visible; 
           transform: scale(1.0); 
           transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; 
       }