:root { 
  /* color */
--text-color: white; 
--background-color: gray; 
--accent-color: #7fffd4; 
--point-color: #ffee58; 
--nav-color:rgba(127, 255, 212, 0.7);
  
    /* size */
  
    /* fontsize */
} 

*{
  padding:0;
  margin:0;
    box-sizing: border-box;
}

html,body{
    margin:0;
    height:100%;
    font-family: 'Source Sans Pro'; 
    background-color: rgb(245, 244, 244);
}

.bottomarea {
  display: flex;
  position: relative;
  justify-content:space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 8px 12px;
  padding-left: 90%;
  margin-top: 20px; 
  width: 100%;
}

a{
  text-decoration: none;
}

ul, li{
list-style:none;
}

.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: var(--text-color);
    background-color: var(--background-color);
    padding: 20px;
    margin-bottom: 20px; 
}

.navbar_logo{
    font-size: 24px;
    color: var(--text-color);
    margin-bottom: 10px; 
    margin-top:10px;
    color: EBE7D9;
    font-style: italic;
    font-weight: bold;
}

.logo {
  color: var(--nav-color);
  font-weight: bold;
}

.navbar_logo a{
    color: var(--text-color);

}
.navbar_logo i{
    color: var(--accent-color);
}

.navbar_mypage{
    list-style: none;
    color: var(--text-color);
    display: flex;
    padding-left: 0;   
    margin-bottom: 5px; 
    margin-top:5px;
    align-items: center;
}

.navbar_mypage a{
    color: var(--text-color);
  }
.navbar_mypage li{
  padding: 8px 12px;
  border: 2px solid gray;
    
}

.navbar_mypage li:hover{
  border: 2px solid #7fffd4;
  border-radius: 4px;
}

.main {
    justify-content:space-between;
    align-items: center;
    padding: 8px 12px;
}

.main_control_btn {
  position: relative;
}

.center_body2 {
  background-color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 1700px;
  /* border: 5px solid var(--nav-color); */
  margin-bottom:10px;
  padding-top:20px;
 
}


.main_control1 {
    color: black;
    size: 30px;
    margin-right:12px;
    padding: 8px 12px;
    /* background-color: var(--nav-color); */
    background-color:white;
}

.main_control {
  color: black;
  size: 30px;
  margin-right:12px;
  padding: 8px 12px;
}

.slide-container{
  margin-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
}
.todays-hot{
  font-size:25px;
  display: flex;
  align-items: left;
}
.each-slide{
  height:500px;
}

.slide_img  {
  width: 100%;
  object-fit: contain;
}

.slider {
  margin: 10px auto;
  width: 800px;
  height: 600px;
}

.slides img {
  width: 800px;
  height: 400px;
}


.time-filter-btn {
  display: flex;
  overflow-y:hidden;
  overflow-x:auto;
   white-space:nowrap;
  padding-bottom:3px;
  padding-left: 30px;
padding-top:12px;
  border-bottom:1px solid gray ;

}

.time-filter-btn li{
  list-style: none;
  padding-right: 10px;
   margin-bottom:8px;
  margin-top:7px;
  font-size: 18px;
  display:inline-block; 
  
}

.time-filter-btn a{
  background-color: white(128, 128, 128, 0.596);
  color: black;
  padding: 3px 8px;
   border-radius: 25px;
    border:3px solid rgba(128, 128, 128, 0.596);
}

.time-filter-btn a:hover{
  list-style: none;
  border:3px solid  var(--nav-color);
border-radius: 25px;
}

.time-filter-btn ul{
  white-space:nowrap;
  overflow-x:auto;
  text-align:center;
}

.time-filter-btn::-webkit-scrollbar{
  width:8px;
}
.time-filter-btn::-webkit-scrollbar-thumb{
  background-color:gray;
  border-radius:10px;
  background-clip:padding-box;
  border:4px solid transparent; 
}

.time-filter{
  width:100%;
  margin:0 auto;
}

.region-filter-btn {
  display: flex;
  margin-top: 10px;
  margin-bottom:10px;
  padding-bottom:20px;
  padding-left: 30px;
  padding-top: 10px;
  border-bottom:1px solid gray ;
}

.region-filter-btn a{
  background-color: white;
  color: black;
  border-radius: 25px;
  border:3px solid rgba(128, 128, 128, 0.596);
}

.region-filter-btn a:hover{
  color: black;
  border-radius: 25px;
  border:3px solid var(--nav-color);
}

.todays-crew{
  padding-right: 5%;
  padding-left: 5%;
  font-size:20px;
}

.todays-crew-nav {
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid gray ;
  padding-bottom: 15px;;
}

.todays-crew-info{
  display:flex;
  padding:7px 3px 7px 3px;
  margin-top:10px;
  
  border-bottom:1px solid gray ;
}

.todays-crew-info .time{
  flex:1 1 20% ; 
}
.todays-crew-info .info{
  flex:1 1 65% ; 
}

.todays-crew-info .joinbtn{
  flex:1 1 15% ; 
}
.todays-crew-info .joinfastbtn{
  flex:1 1 15% ; 
}
.todays-crew-info .joindonebtn{
  flex:1 1 15% ; 
}

.hashtags{
  display:flex;
  font-size: 10px;
  color:blue;
}

.hashtags li{
  margin-right:12px;
}

.joinbtn{
  font-size:17px;
   border:none ;
  background-color:skyblue;
  color:white;
  padding:4px;
 border-radius:80px;
  border:2px solid white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.joinbtn:hover{
border:2px solid black;
}

.joindonebtn{
  font-size:17px;
  background-color:rgba(54, 53, 53, 0.623);
  color:white;
  padding:2px;
  border-radius:80px;
display:flex;
  justify-content:center;
  align-items:center;
  border:2px solid white;
}
.joindonebtn:hover{
border:2px solid black;
}

.joinfastbtn{
  font-size:17px;
  border:none ;
  background-color:red;
  color:white;
  padding:2px;
 border-radius:80px;
     border:2px solid white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.joinfastbtn:hover{
border:2px solid black;
}

.main-paging{
  text-align:center;
  font-size:0;
  margin-top:25px;
}
.todayscrew-paging{
  display:inline-block;
}
.todayscrew-paging.none{
  display:none;
}
.todayscrew-paging a{
  display:block;
    margin:0 3px;
    float:left;
    border:1px solid #e6e6e6;
    width:28px;
    height:28px;
    line-height:28px;
    text-align:center;
    background-color:#fff;
    font-size:13px;
    color:#999999;
    text-decoration:none;
}
.todayscrew-paging a:hover{
    border:2px solid #999;
}

.todayscrew-paging .checknum {
background-color:#999;
    color:#fff;
    border:1px solid #999;
}
.todayscrew-paging .checknum:hover{
  text-decoration:none;
}
.stickybutton {
   position: fixed;
   bottom: 20px;
   z-index: 999;
   width: 20%;
  background-color: var(--point-color);
  border-radius: 50px;
  left: 40%;

}

.stickybutton a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: rgb(31, 30, 30);
}


.stickybutton:hover{
  background-color: #ffff8b;
}  

 .mainjoin{
  font-size: 12px;
margin-top:6px;
padding-bottom:5px;
}

.toast {
  position: absolute;
  left: 40%;
}

.filter_title{
font-size:20px
}






label { 
  display: block; 
  margin-top: 20px; 
  letter-spacing: 2px; 
} 
form { 
  margin: 0 auto; 
  width: 459px; 
} 
input { 
  background-color: #efefef; 
  border-radius: 6px; 
  border: 1px solid #dedede; 
  padding: 10px; 
  margin-top: 3px; 
  font-size: 0.9em; 
  color: #3a3a3a; 
} 
input:focus{ 
  border: 1px solid #97d6eb; 
} 
     
.bottom_btn {
  margin: auto;
  padding: 10px;
}
     
p {
  margin: 0;
  padding: 0;
  word-break: break-all;
}

.toggle-button{
right:25%;
background-color: white;
border:none;
}
.filterCheck {
  position: absolute;
  opacity: 0;
  width: inherit;
}

.filterCheck + label {
    position: relative;
    cursor: pointer;
    font-size: 12px;
    color: #999;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: black;
}

.filterCheck.grey + label {
    color: #999999;
    background-color: #eeeeee;
}

.filterCheck:checked + label {
    color: #2a2a2a;
    background-color:rgba(127, 255, 212, 0.815);
}

.filter_item {
  padding-bottom: 20px;
  display: inline-block;
  margin: auto;
  width: 100%;
}

.list {
  list-style: none;
  margin-top: 20px;
  vertical-align: baseline;
  display: flex;
  padding: 8px 12px;
  margin: auto;
}

.list h4 {
  font-size: 16px;
  color: #999;
  font-weight: 400;
  margin-bottom: 14px;
  margin-left: 5px;
}

.list li {
  display: block;
  padding: 8px 12px;
  margin-right: 5px;
  margin-bottom: 15px;
}

.checkLabel {
  position: relative;
  cursor: pointer;
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 10px;
  color: #999999;
  background-color: black;
}

.bottomarea {
  display: flex;
  justify-content:space-between;
  align-items: center;
  color: var(--text-color);
  background-color: var(--background-color);
  padding: 8px 12px;
  padding-left: 90%;
  width: 100%;
}